= form_for @task do |f|
  - if @errors
    .error_messages
      %ul
        - @errors.each do |error|
          %li{style: "color:red; font-size:25px;"}= error
          - error
  .form-group.form-group-sm.col-6
    %h1 Crea una tarea
    %br
    = f.text_field :name, class: "form-control input-lg", placeholder: "Tarea", autocomplete: 'off'
    %br
    = f.submit "Crear Tarea", class: "btn btn-success btn-sm"
    = link_to "Cancelar", tasks_path, class: "btn btn-danger btn-sm"
